<div class="wrap">
  <h1>Hello world!</h1>
  <h2>{{title}}</h2>
  <div>
  {{#if data}}
  <h3>{{name}} events:</h3>
  <ul>
    {{#each data.events}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>
  {{/if}}

  </div>
</div>